@let a = appointment();

@if(a) {
  <div class="m-4 bg-neutral-50 shadow-md p-6 rounded-xl hover:bg-neutral-100">
    <h2 class="text-xl text-neutral-800 font-bold">({{a.id}}) {{a.topic?.name}} Nachhilfe am {{a.proposed_time | date: 'dd.MM.yyyy HH:mm'}} Uhr</h2>
    <p class="my-2">{{a.description}}</p>
    <div class="flex gap-6">
      <p class="bg-violet-400 text-white px-2 py-1 rounded-xl">Tutor*in: {{a.tutor?.name}}</p>
      <p class="bg-violet-300 px-2 py-1 rounded-xl">Preis: {{a.price}} €</p>
      <p class="bg-violet-100 px-2 py-1 rounded-xl">Status: {{a.status}}</p>
    </div>
  </div>
}
