<ta-appointment-container>
  <h2 class="text-center font-stretch-semi-expanded text-violet-800">{{title}}</h2>
  @for (subjectGroup of groupedAppointments(); track subjectGroup.subject.id) {
  <h2 class="text-xl font-semibold mt-6 ml-2">{{ subjectGroup.subject.name }}</h2>
    @if (subjectGroup.appointments?.length === 0) {
      <p class="text-gray-500 italic">No appointments exist for this subject.</p>
    }
    @for (appointment of subjectGroup.appointments; track appointment.id) {
      <a class="listItemClass" [appointment]="appointment" [routerLink]="[routerLink, appointment.id]"></a>
    }
} </ta-appointment-container>
