<div class="w-11/12 m-auto mt-2">
  @let a = appointment();
  @if(a) {
    <div class=" p-4 rounded-xl bg-white shadow-md">
      <h2 class="text-3xl font-bold mb-6">{{a.topic?.name}} Tutoring on {{a.proposed_time | date: 'dd.MM.yyyy HH:mm:ss'}}</h2>
      <div>
        <div class="mb-4">
          <div class="font-bold">Description: </div>
          <p>{{a.description}}</p>
        </div>
        <div class="mb-4">
          <div class="font-bold">Price: </div>
          <p>{{a.price}} €</p>
        </div>
        <div class="mb-4">
          <div class="font-bold">Status: </div>
          <p>{{a.status}}</p>
        </div>
        @if(a.status !== 'open') {
          <div class="mb-4">
            <div class="font-bold">Student:</div>
            <p>{{a.student?.name}}</p>
          </div>
        }
        <div class="mb-4">
          <div class="font-bold">Topic: </div>
          <p>Name: {{a.topic?.name}}</p>
          <p>Description: {{a.topic?.description}}</p>
        </div>
        <div class="mb-4">
          <div class="font-bold">Tutor: </div>
          <p>Name: {{a.tutor?.name}}</p>
          <p>Education: {{a.tutor?.education}}</p>
          <p>Contact information: {{a.tutor?.contact_info}}</p>
        </div>


        <div class="flex flex-row gap-4">
          <button
            [routerLink]="'/appointments'"
            class="border-indigo-600 border  text-indigo-600 hover:bg-indigo-800 hover:text-white"
          >
            Back to all appointments
          </button>

          @if(!authService.isTutor() && a.status === 'open'){
              <button
                (click)="acceptAppointment()"
                class="bg-indigo-600 text-white hover:bg-indigo-800"
              >
                Accept appointment
              </button>
          }

          @if(authService.isLoggedIn() && (authService.getCurrentUserId() === a.tutor_id)){
            <button
              (click)="removeAppointment()"
              class="bg-rose-600 text-white hover:bg-rose-800"
            >
              Delete appointment
            </button>

            @if (a.status != "confirmed"){
              <button
                [routerLink]="['../../appointment-form', a.id]"
                class="bg-orange-500 text-white hover:bg-orange-700"
              >
                Edit appointment
              </button>
            }
          }
        </div>

        @if(!authService.isTutor()){
          <hr class="my-8 border-neutral-300">
          <h3 class=" text-xl text-center mb-4">Not the right time? Request a different time: </h3>
          <div class="flex flex-row gap-4 mb-8">
            <input type="datetime-local" #proposedDateInput class="bg-neutral-50 inputField">
            <button
              (click)="requestAppointment(proposedDateInput.value)"
              class="bg-indigo-600 text-white hover:bg-indigo-800"
            >
              Request new appointment
            </button>
          </div>
        }

      </div>

    </div>
  }

</div>
